<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Styles/style.css">
    <link rel="stylesheet" href="../static/Styles/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <title>Administración</title>
</head>
<body>
    <!--ENCABEZADO-->
    <header id="header" class="">
        <img href="#" src="../static/Images/Unilever.png" class="logo">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Noticias</a></li>
            <li><a href="">Revista</a></li>
        </ul>
	</header>
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);

        })

    </script>
    
    <!--Fin del encabezado-->
    <div class="graphbox">
        <div class="graph">
            <p>Gráfico 1</p>
        </div>
        <div class="graph">
            <p>Gráfico 2</p>
        </div>
        <div class="graph">
            <p>Gráfico 3</p>
        </div>
        <div class="graph">
            <p>Gráfico 4</p>
        </div>
        <div class="graph">
            <p>Gráfico 5</p>
        </div>
        <div class="graph">
            <p>Gráfico 6</p>
        </div>
    </div>
</body>
</html>