<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="formulario">
             <div>
                 <input id="username" name="username" type="email" placeholder="Email"/>
             </div>
             <div>
                 <input id="password" name="password" type="password" placeholder="Password"/>
             </div>
               <button class="ingreso" type="submit">Ingresar</button>
        </div>
    </form>
</body>
</html>